.header {
  margin: 0;
}


.header_variant_standard {
  text-decoration: none;
  text-transform: none;
}

.header_variant_underlined {
  text-decoration: underline;
}

.header_variant_caps {
  text-transform: uppercase;
}

.header_variant_caps-underline {
  text-transform: uppercase;
  text-decoration: underline;
}



.header_size_small {
  font-size: 0.875rem;
}

.header_size_medium {
  font-size: 1rem;
}

.header_size_large {
  font-size: 1.125rem;
} 

.header_text-align_left {
  text-align: left;
}

.header_text-align_right {
  text-align: right;
}

.header_text-align_center {
  text-align: center;
}

.header_text-align_indent {
  text-indent: 1.5rem;
}

